body {
    /* height: 3000px; */
    height: 100%;
    background-color: rgb(78, 78, 78);
}
.p-0 {
    padding: 0;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 50px;
    width: 50px;
}
.mt-10 {
    margin-top: 50px !important;
}
.ml-10 {
    margin-left: 50px;
}
.fon3d {
    background-image: url(img/3d.jpg);
}
#needTop {
    opacity: 0.85;
    width: 89%;
    height: 0;
    /* border-left: 50px solid transparent; */
    border-right: 190px solid transparent;  /* Ширина элемента  */
    border-top: 160px solid red; /* Высота элемента  */
  }
  #needWall {
    /* text-align: right; */
    right: 15px;
    opacity: 0.85;
    width: 200px;
    height: 0;
    border-left: 140px solid transparent;  
    border-bottom: 140px solid red;  
  }
  #needWall:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0px;
    bottom: -320px;
    border-width: 0;
    background: red;
    width: 200px;
    height: 160px;
    /* transform: rotate(45deg); */
  }



  .colorch {
     
    /* padding-right: 5px;  */
      min-width: 30px;
      width: 100%;
      height: 30px;
  }
  .p-big {
    /* font-size: 4vw; */
    /* font-size: 3vw; */
    font-size: calc(10px + 2vw);
    /* font-size: 4vh; */
      color: white;
  }
  .p-md {
    font-size: calc(5px + 2vw);
    /* font-size: 3vw; */
    color: rgb(7, 7, 7);
    /* margin-top: 2px; */
  }
  .g {
    flex-flow: row wrap;
    border: 1px solid red;
    height: 100%;
  }
  .mycol {
    width: 95vw;
}
@media (min-width: 1200px) {
    .mycol {
        width: 1200px;
    }
}
.test {
    border: 1px solid red;
}
.vizitka {
    height: 50vw;
    min-height: 50vh;
    max-height: 100vh;
}
.heig1 {
    height: 25vw;
    min-height: 25vh;
    max-height: 50vh;
}
/* Стили для примеров работ: */
.vizitka2 {
    height: 53vw;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    min-height: 24vh;
    max-height: 70vh;
    max-width: 120vh; 
}

.t-norm {
  font-size: calc(14px + 0.7vw);
  font: bold;
}

/* input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
} */